<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googleAPIKey</key>
	<string>AIzaSyCxuVJdnxwfiFIHURJN8rlgdKgiVR6iUPs</string>
	<key>searchRadius</key>
	<string>1000</string>
</dict>
</plist>
